<form>
  <div class="form-group">
    <label for="copyable-embed-code">Embed Code</label>
    <%= render partial: "catalog/embed/embed_code_copyable", locals: { document: document } %>
  </div>
</form>
<form>
  <div class="form-group">
    <label for="copyable-permalink">Permalink</label>
    <textarea id="copyable-permalink" class="form-control" rows="1"><%= purl_or_doclink(document) %></textarea>
  </div>
</form>
