<% cache("embed_video_#{params[:collection]}_#{params[:id]}", expires_in: 1.day) do %>

  <div class="iframe-embed-video">
    <%= render partial: "display_jwplayer", locals: jwplayer_locals({
        derivatives: stream_urls(document),
        media_type: 'video/mp4',
        media_mode: 'video'}) %>
  </div>

  <%= render partial: "catalog/embed/iframe_titlebar", locals: { document: document, derivatives: stream_urls(document) } %>

<% end %>
