<h1><%= t("ddr.public.portal.digital_collections.title", :default => t('blacklight.welcome')) %></h1>
<p><%= t("ddr.public.portal.digital_collections.about", :default => "Duke Digital Repository (DDR) provides access to Duke scholarship, research, datasets and Duke University Libraries collections.  Duke Digital Repository is a service of Duke University Libraries.") %></p>

<p><%= link_to "About Digital Collections", about_digital_collections_path %></p>
