<% if document.sponsor.present? %>
  <div class="well well-md collection-sponsor">
    <div class="media">
      <div class="media-left">
        <p><a href=<%= Ddr::Public.adopt_url %> data-toggle="tooltip" data-placement="bottom" title="Digital preservation for this collection is supported through our Adopt a Digital Collection program. Click to learn more."><span class="label label-primary">Sponsor</span></a></p>
      </div>
      <div class="media-body">
        <div class="small collection-sponsor-text"><%= document.sponsor %></div>
      </div>
    </div>
  </div>
<% end %>
