
    <p><strong>The Duke University Libraries Digital Collections Program</strong> builds distinctive digital collections that provide access to Duke's unique library and archival materials for teaching, learning, and research at Duke and worldwide. We contribute collaboratively to national and international digital collections initiatives that benefit Duke and the larger research community.</p>

    <h2>What is a digital collection?</h2>
    <div>
    <p>With the founding of the Digital Scriptorium in 1995, Duke University Libraries began the process of making its holdings more accessible via the World Wide Web. Through this work we seek to:</p>
    <ul>
    <li>Enhance access and aid preservation</li>
    <li>Add value</li>
    <li>Facilitate research, teaching, and learning</li>
    </ul>
    <p>Our digital collections provide patrons with digital versions of library materials as well as tools to browse, search, and analyze these materials online. In addition to providing easier access to these materials, digital collections aid in the preservation of materials by reducing the need for handling the originals. Different collections provide different levels of online access:</p>
    <ul>
    <li><b>Images:</b> some collections provide digital images of photographs, manuscripts, or printed material; however some collections contain images that have not been digitized and for which only bibliographic information is available online.</li>
    <li><b>Full text:</b> some collections provide searchable, full text of manuscripts or printed material; however, some collections contain manuscripts or printed material for which only bibliographic information is available online<b>:</b>
    </li>
    <li><b>Metadata:</b> Descriptive information is available online for all items in our digital collections.</li>
    </ul>
    <p>Please note that only a small subset of Duke's collections have been digitized.</p>
    </div>
    <h2>How is a digital collection different from a collection guide?</h2>
    <div>
    <p>Digital collections provide patrons with access to material in some form online. <a href="http://library.duke.edu/rubenstein/findingaids/">Archival collection guides</a> provide descriptions of materials that are available in physical form offline rather than in digital form online.</p>
    <p>Collection guides provide online descriptive tools which serve as the primary point of intellectual access to archival collections in archives and manuscript repositories. They serve as extensive guides to over 900 collections. In most cases, collection guides provide descriptions of materials that are only available in physical, rather than digital form. Please note that archival collection guides have been created for only a small subset of our collections.</p>
    </div>
    <h2>What can I do with items that I find in the collections?</h2>
    <div>
    <p>The materials on this web site are made available for use in research, teaching and private study. Although the material on this web site is publicly accessible for the limited purposes described above, some material is <b>not</b> in the public domain. Copyright in specific materials may be owned by Duke University, by another institution, or by an individual. Each collection may have specific copyright information and usage rules. <a href="http://library.duke.edu/digitalcollections/copyright.html">Learn more....</a></p>
    </div>
    <h2>The technical bits</h2>
    <div>
    <p>This discovery application (internally called "Tripod2") has been developed in-house using the open source <a href="http://www.djangoproject.com/">Django web application framework</a>.  Several other components of the interface use free and/or open source tools, including:</p>
    <ul>
      <li><a href="http://jquery.com/">jQuery</a> JavaScript library</li>
      <li><a href="http://jqueryui.com/">jQuery UI</a> interface framework</li>
      <li><a href="http://galleria.aino.se/">Galleria</a> JavaScript image gallery</li>
      <li><a href="http://iipimage.sf.net">IIPImage Server</a></li>
      <li><a href="http://ddmal.music.mcgill.ca/diva/">Diva.js</a> document viewer</li>
      <li><a href="http://openlayers.org/">OpenLayers</a> map and image viewer</li>
      <li><a href="http://disqus.com/">Disqus</a> commenting platform</li>
      <li><a href="http://wordpress.org/">Wordpress</a> blog &amp; content management platform</li>
      <li><a href="http://960.gs/">960 Grid System</a> for page layout</li>
      <li><a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icons</a> by FamFamFam</li>
    </ul>
