<div class="alert alert-info alert-dismissible preview-alert preview-alert-<%= Rails.env %>" role="alert">
  <small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <i class="fa fa-exclamation-triangle"></i> 
      <span class="preview-alert-msg"><%= ENV['DDR_PUBLIC_PREVIEW'] %></span> 
    <% if Rails.env != 'production' %>
      <span class="preview-alert-msg"> | </span>
      <span class="preview-alert-msg">Git branch: <strong><%= git_branch_info %></strong></span>
      <span class="preview-alert-msg">Rails env: <strong><%= Rails.env %></strong></span>      
    <% end %>
  </small>
</div>