<div class="container">


  <div class="row">
    <div class="col col-sm-12 vert-margin">
      <h1>Welcome to the Duke Digital Repository</h1>
    </div>
  </div>

  <!-- intro -->
  <div class="row">

    <div class="col-md-5 feature">

      <%= image_tag("homepage/duke_aerial.jpg", class: "img-responsive thumbnail", alt: "West Campus aerial; Duke Photography") %>

    </div>

    <div class="col-md-7 intro">

        <p class="lead">The Duke Digital Repository (DDR) is a service of Duke University Libraries that supports the activities of the University's faculty, researchers, students, and library staff by preserving, securing, and providing access to digital resources.</p>

        <p><a href="http://libcms.oit.duke.edu/ddr" class="btn btn-default btn-lg">Learn more about our process&nbsp;&raquo;</a></p>

    </div>

  </div>

  <div class="row">
    <div class="col col-sm-12 vert-margin">
      <hr>
    </div>
  </div>

  <!-- Content -->

  <div class="row row-flex row-flex-wrap">

    <div class="col col-md-4">

        <div class="well home-1">

          <div class="home-feature">

            <h2>Research Data</h2>

            <p class="vert-margin">Increasingly academic journals, funding agencies, professional societies, and academic institutions require researchers to share and preserve the underlying research data associated with a project. The DDR enables Duke researchers to fulfill these requirements by providing a space that enables data citation and preservation.</p>

            <p class="vert-margin">The DDR accepts data collections related to the teaching and research mission of Duke University.</p>

            <p><a href="" class="btn btn-primary">Learn more &raquo;</a></p>

          </div>

          <div class="caption"><small>From <a href="">Durham Aerial Imagery (USDA)</a></small></div>

      </div>

    </div>

    <div class="col col-md-4">

      <div class="well home-2">

        <div class="home-feature">

          <h2>Scholarly Publications</h2>

          <p class="vert-margin"><a href="http://library.duke.edu/find/scholarly">Find and read</a> publications by Duke authors via <a href="https://scholars.duke.edu/">Scholars@Duke</a> or the <a href="http://dukespace.lib.duke.edu/dspace/handle/10161/2840">DukeSpace Repository</a>.</p>

          <p class="vert-margin">Duke affiliated authors can make their publications available by <a href="https://scholarworks.duke.edu/share-publish-and-archive-your-work/">uploading a copy</a> to the DukeSpace Repository, where it will be archived with a permanent citable link and be openly available to anyone on the Internet.</p>

          <p><a href="https://library.duke.edu/about/depts/scholcomm" class="btn btn-primary">Contact Us &raquo;</a></p>

        </div>

        <div class="caption"><small>Provided by <a href="">Duke ScholarWorks</a></small></div>

      </div>

    </div>


    <div class="col col-md-4">

      <div class="well home-3">

        <div class="home-feature">

          <h2>Library Collections</h2>

          <p class="vert-margin">Suspendisse pretium nunc ac turpis scelerisque maximus. Praesent at turpis ac mi euismod blandit at vel ligula. Suspendisse blandit purus ante, eu ultrices ante lacinia in. Morbi non mollis enim.</p>

          <p class="vert-margin"><a href="http://library.duke.edu/about/">Learn more</a> about digital collections at Duke</p>

          <p><a href="http://library.duke.edu/digitalcollections/" class="btn btn-primary">View Duke Digital collections &raquo;</a></p>

        </div>

        <div class="caption"><small>From <a href="">Caribbean Sea Migration</a></small></div>

      </div>

    </div>

  </div>


</div>
