dpla_fields:
  'dcterms:isPartOf':
    - document_helper: :source_collection_title
  'dc:contributor':
    - solr_field: 
      - :contributor
      - :stored_searchable
  'dc:coverage':
    - solr_field:
      - :spatial
      - :stored_searchable
  'dc:creator':
    - solr_field: 
      - :creator
      - :stored_searchable
    - solr_field:
      - :company
      - :stored_searchable
  'dc:date':
    - solr_field:
      - :date
      - :stored_searchable
      helper_method: :display_edtf_date
  'dc:description':
    - solr_field:
      - :description
      - :stored_searchable
  'dc:format':
    - solr_field:
      - :format
      - :stored_searchable
  'dc:identifier':
    - solr_field:
      - :local_id
      - :stored_sortable
    - document_helper: :multires_thumbnail_path
    - solr_field:
      - :permanent_url
      - :stored_sortable
  'dc:language':
    - solr_field:
      - :language
      - :stored_searchable
      helper_method: :language_display
  'dc:publisher':
    - solr_field:
      - :publisher
      - :stored_searchable
  'dc:rights':
    - solr_field:
      - :rights_note
      - :stored_searchable
  'dc:subject':
    - solr_field:
      - :subject
      - :stored_searchable
    - solr_field:
      - :product
      - :stored_searchable
  'dc:title':
    - solr_field:
      - :title
      - :stored_searchable
  'dc:type':
    - solr_field:
      - :type
      - :stored_searchable
