<!-- TODO: Some of this should be moved to a helper probably -->
<% if @response.first_page? %>
  <% collections = find_collection_results %>
  <% fedora_model = params.try(:[], 'f').try(:[], Ddr::Index::Fields::ACTIVE_FEDORA_MODEL) || [] %>
  <% if collections[:count] == @document_list.length %>
    <% doc_list_match = collections[:documents].map { |doc| doc.id } == @document_list.map { |doc| doc.id } %>
  <% else %>
    <% doc_list_match = false %>
  <% end %>
  <% unless collections[:documents].blank? or fedora_model.include? 'Collection' or doc_list_match %>
    <div class="collection-matches-container well">

      <% if collections[:count] > 3 %>
        <% path = add_facet_params_and_redirect(Ddr::Index::Fields::ACTIVE_FEDORA_MODEL, 'Collection') %>
        <h4><%= link_to "Matching Collections (#{number_with_delimiter(collections[:count])}) &raquo;".html_safe, path, data: { :"ga-category" => 'search-results', :"ga-action" => 'collection-match-browse' }   %></h4>
      <% else %>
        <h4>Matching Collections (<%= collections[:count] %>)</h4>
      <% end %>
      <div id="collections" class="row gallery horizontal-gallery">
          <%= render_gallery_collection collections[:documents][0..2] %>
      </div>
    </div>
  <% end %>
<% end %>
