<div class="collection-start collection-submast">
  <h1 id="collection-title"><%= document.title %></h1>
  
  <% if document.abstract.present? %>
    <p class="collection-abstract"><%= document.abstract %></p>
  <% end %>

  <% if document.item_count > 1 %>
    <%= link_to collection_browse_items_url(document), :class => "btn btn-primary browse-all", :id => "browse-all-items-btn" do %>
      Browse all <strong><%= number_with_delimiter(document.item_count) %></strong> Items
    <% end %>
  <% end %>

</div>
