<% if is_item?(@document) %>

<div id="item-options">
	<ul class="nav nav-pills item-options">
	  <% if defined?(imagecount) %>
      <%= render partial: 'item_options_imagecount', locals: local_assigns %>
    <% end %>
    <%= render partial: 'item_options_download', locals: local_assigns %>
    <%= render partial: 'item_options_share', locals: local_assigns %>
	</ul>
</div>
<% end %>
