<h3>Files</h3>
<% @response, @document_list = find_children(@document, :isPartOf, params) %>
<div id="sortAndPerPage" class="clearfix">
	<div class="search-widgets pull-right">
		<%= render 'sort_widget' %>
	</div>
</div>
<%= render_document_index %>
