<div class="buffer-bottom-40">
  <h4><%= link_to_document(document) %></h4>
  <p class="small"><%= truncate(document.abstract, :length => 180, :separator => ' ') %></p>
  <a class="text-muted text-uppercase small" href="http://library.duke.edu/digitalcollections">More Duke Digital Collections &raquo;</a>
</div>

