<% cache("catalog_show_collection_context_#{@document.id}", expires_in: 7.days) do %>
  <div id="collection-context" class="buffer-bottom-40">
    <%= link_to_admin_set(@document.collection, { class: "text-muted text-uppercase strong" }) %>
    <hr/>
    <% unless collection %>
      <h4><%= link_to_document(@document.collection) %></h4>
      <p class="small"><%= truncate(@document.collection.abstract, :length => 180, :separator => ' ') %></p>
    <% end -%>
  </div>
<% end %>
