<div id="collection-context" class="buffer-bottom-40">
  <%= link_to_admin_set(document, { class: "text-muted text-uppercase small" }) %>
  <% unless collection %>
    <h4><%= link_to_document(document) %></h4>
    <p class="small"><%= truncate(document.abstract, :length => 180, :separator => ' ') %></p>
  <% end -%>
</div>
