<% if document.effective_license.present? %>
  <div class="buffer-bottom-40">
    <div class="text-muted text-uppercase small strong">License</div>
    <p class="small text-muted"><%= document.effective_license.terms.html_safe %><p>
  </div>
<% end %>
