<div class="buffer-bottom-30">
  <div class="text-muted text-uppercase small strong">Copyright &amp; Use</div>
  <p class="small text-muted"><%= document.effective_license.terms.html_safe %><p>
</div>