<% if component %>
  <div id="item-context" class="buffer-bottom-40">
    <div class="text-muted text-uppercase small strong">Part of Item</div>
    <p><%= link_to_document(@document.item) %></p>
  </div>
<% end -%>

