<div class="image-display">
	<a href="<%= iiif_image_path(image_path, {:size => 'full'}) %>" class="imageviewer-open" data-toggle="modal" data-target="#seadragon-modal" data-remote="false">
		<%= iiif_image_tag(image_path, {:size => '!850,850', :alt => 'image'}) %>
	</a>
</div>