<p><%= license_title(document.effective_license) %></p>
<% unless document.effective_license[:description].blank? %>
  <p class="text-muted small"><%= truncate(document.effective_license[:description], :length => 125, :separator => ' ') %></p>
<% end %>
