<% unless document.finding_aid.blank? %>
  <div class="text-muted text-uppercase small strong">Finding Aid</div>
  <p><%= link_to document.finding_aid.title, document.finding_aid.url %><p>
  <hr />
<% end %>