.icon-rights {
  display: block;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
  background-size: 18px 18px !important;
  float: left;
  margin-right: 0.25em;
}

.icon-rights-cc-cc {
  background: asset_url('ddr-icons/creative-commons/cc.svg');
}

.icon-rights-cc-by {
  background: asset_url('ddr-icons/creative-commons/by.svg');
}

.icon-rights-cc-nc-eu {
  background: asset_url('ddr-icons/creative-commons/nc-eu.svg');
}

.icon-rights-cc-nc-jp {
  background: asset_url('ddr-icons/creative-commons/nc-jp.svg');
}

.icon-rights-cc-nc {
  background: asset_url('ddr-icons/creative-commons/nc.svg');
}

.icon-rights-cc-nd {
  background: asset_url('ddr-icons/creative-commons/nd.svg');
}

.icon-rights-cc-pd {
  background: asset_url('ddr-icons/creative-commons/pd.svg');
}

.icon-rights-cc-zero {
  background: asset_url('ddr-icons/creative-commons/zero.svg');
}

.icon-rights-cc-sa {
  background: asset_url('ddr-icons/creative-commons/sa.svg');
}

.icon-rights-cc-share {
  background: asset_url('ddr-icons/creative-commons/share.svg');
}

.icon-rights-cc-remix {
  background: asset_url('ddr-icons/creative-commons/remix.svg');
}

.icon-rights-rs-inc {
  background: asset_url('ddr-icons/rights-statements/inc.svg');
}

.icon-rights-rs-noc {
  background: asset_url('ddr-icons/rights-statements/noc.svg');
}

.icon-rights-rs-other {
  background: asset_url('ddr-icons/rights-statements/other.svg');
}

