/* BEGIN Blacklight Overrides */

#header-navbar {
	padding: 10px 0;
	margin-bottom: 0;
}
#header-navbar .navbar-brand { 
	min-height: 52px;
	min-width: 375px;
	padding-bottom: 0;
	background-size: contain;
	background-repeat: no-repeat;
}

#header-navbar .navbar-form { 
	float:left;
	margin-left: 20px;
}

#header-navbar .search_q { 
	width:17em;
}

#main-container {
	padding: 20px;
	background-color: #fff;
}

body.blacklight-catalog-show #content {
	border-right: 2px solid #eee;
}

.facet_limit-active .panel-heading.collapse-toggle .panel-title:after {
  color: #fff;
}
/* END Blacklight */

.image-display {
	margin-bottom:15px;
}

.image-display img {
	max-width:100%;
}

.contact-devil-logo {
  background-image: image-url('ddr/devillogo-60pct-60.png');
  height: 80px;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  width: 50px;
}

/* ------------- 
PORTAL DISPLAY
---------------- */

.showcase-wrapper {
  margin: -20px -20px 20px -20px;
}



.collection-start {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 30px !important;
  height: 500px;
  
  & h1 {
    color: white;
  }
  
  & a {
    color: white;

  }
  
  & .more-link {
    font-weight: bold;
  }
  
  & form.search-query-form {
    padding-left: 0;
  }
  & select {
    display: none !important;
  }
  & .browse-all {
    margin-top: 10px;
  }
  
}

.collection-showcase {
  background-color: #666;
  height: 500px; 
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
}

a.showcase-item-wrap, a.highlight-item-wrap {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.showcase-item-caption, .highlight-item-caption {
  display: none;
  position: absolute; 
  bottom: 0; 
  color: white; 
  padding: 20px 20px 20px 20px; 
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)); 
  width:100%; 
  z-index: 90;
  min-height: 500px;
}


.collection-highlight {
  width: 25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-right: 5px solid rgba(255,255,255,0);
  border-right: 5px solid white;  
  border-bottom: 5px solid rgba(255,255,255,0);
  border-bottom: 5px solid white;  
  float: left;
  position: relative;
  height: 210px;

}

.highlight-item-caption {
  min-height: 150px;
}


/* ------------- 
  ITEM DISPLAY
---------------- */

.nav.item-options {
	& > li > a {
		color: $gray-light;
		text-transform: uppercase;
	}
	
	& .dropdown-menu .btn-link {
	  padding-top: 0;
	  padding-bottom: 0;
	}
}


/* ------------- 
    FACETS
---------------- */


.top-panel-heading.panel-heading {
  padding-left: 0;
}


/* Blacklight Range Filter Overrides */
.range_limit {
  & .slider-handle {
    background-color: #a1b70d;
    background-image: none;
  }
  & input.range_begin, input.range_end {
      font-size: 15px;
  }
}



