/* BEGIN Blacklight */
.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}
#header-navbar {
	padding-top: 8px;
}
#header-navbar .navbar-brand { 
	min-height: 42px;
	min-width: 200px;
	padding-bottom: 0;
}
#user-util-collapse a:hover {
    color: black;
}
/* END Blacklight */