/* Audio & Video Player Custom Styles */
.jw-skin-seven .jw-playlist-container .jw-option:hover .jw-label {
  color: #333 !important;
}

.jw-playlist {
  min-height:5em !important;
}

/* Bugfix for JWPlayer */
/* else CC button doesn't light up green when ON. */
#jwplayer-element .jw-icon-cc {
  color: #a1b70d;
}

.av-playlist-pagination {
  & a.now-playing {
    background-color: $brand-success !important;
    border-color: $brand-success !important;
    color: white !important;
  }
}
