@import 'openseadragon/openseadragon';

// Image Viewer Customizations (Open Seadragon) ==============================

#image-content {
  max-height: 800px;
  &.openseadragon.fullpage {
    max-height: 100%;
    & .openseadragon-container button#btn-fullscreen-close {
      display: block;
    }
    & .openseadragon-container button#btn-fullscreen {
      display: none !important;
    }
  }
}

.openseadragon-viewer {
  height: 100%;
  background-color: #333;
}


.openseadragon-container {

  background-color: #333 !important;

  & #image-toolbar {
    visibility:hidden;
    opacity: 0;
    transition: visibility .75s, opacity .75s;

    & #image-toolbar-inner {
      visibility: visible;
      display: inline-block;
      padding: 5px;
      position: relative;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    & button {
      border: 1px solid transparent;
    }

    & .dropdown-menu li a {
      display: block;
    }

    & .multi-image-nav {
      margin-left: 100px;
      margin-right: 20px;
      float: left;
      @media (max-width: $screen-md) {
        margin-left: 50px !important;
      }
      @media (max-width: $screen-xs) {
        margin-left: 0px !important;
      }
    }

    & .zoom-nav {
      float: left;
    }

    & .multi-image-nav + .zoom-nav {
      @media (max-width: $screen-md) {
      }
    }

    & #page-jumper {
      display: inline-block;
    }

    & #page-jumper-text {
      width: 54px;
      padding: 0 0.8em;
      background: black;
      border: none;
      text-align: center;
      color: white;
      display: inline-block;
      @media (max-width: $screen-md) {
        width: 42px;
        height: 28px;
        padding: 0 0.6em;
      }
    }

    & .page-indicator {
      color: white;
      display: inline-block;

    }
  }


  & .referencestrip {
    visibility: hidden;
    opacity: 0;
    transition: visibility .75s, opacity .75s;
    margin-left: 0 !important;
    max-width: 100px !important;
    @media (max-width: $screen-md) {
      max-width: 50px !important;
    }
    @media (max-width: $screen-xs) {
      display:none !important;
      visibility: hidden !important;
    }
    & > div[id^="referencestrip"] {
      max-width: 100px !important;
      @media (max-width: $screen-md) {
        max-width: 50px !important;
      }
      @media (max-width: $screen-xs) {
        display:none !important;
        visibility: hidden !important;
      }
    }

  }


  & .navigator {
    visibility: hidden;
    opacity: 0;
    border: 0 !important;
    transition: opacity .75s, visibility .75s;

    & .displayregion {
      border: 2px solid $brand-success !important;
    }
  }

  & .btn {
    color: $gray-light;
    background-color: #000;
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 0;

    @media (max-width: $screen-md) {
      font-size: 12px;
      margin-right: 1px;
      margin-bottom: 1px;
    }

    & .btn-wrapper {
      // This fixes http://getbootstrap.com/javascript/#markup-1 where bad things happen when
      // the btn becomes disabled or when the tooltip activates.
      margin: 0;
      display: inline-block;
      padding:10px 18px;
      @media (max-width: $screen-md) {
        padding: 5px 8px;
      }
    }

    &:hover {
      color: $gray-lighter;
      background-color: #111;
    }
  }

  & #btn-next {
    margin-right: 15px;
    @media (max-width: $screen-xs) {
      margin-right: 5px;
    }
  }

  & #btn-zoom-out {
    margin-right: 15px;
    @media (max-width: $screen-xs) {
      margin-right: 5px;
    }
  }

  & #btn-full-page {
    @media (max-width: $screen-xs) {
      display: none !important;
    }
  }

  & #btn-more-options {
    @media (max-width: $screen-xs) {
      display: none !important;
    }
  }


  & #btn-fullscreen-close {
    z-index: 1200;
    position: fixed;
    right: 20px;
    top: 5px;
    display: none;
  }

  & #seadragon-buttons {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index:1200;
  }
  & textarea {
    display: none;
  }

}

/* Don't let the controls disappear if on touch device */
.openseadragon-container.touch-enabled {
  & #image-toolbar, & .referencestrip {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
