@import 'openseadragon/openseadragon';

// Image Viewer Customizations (Open Seadragon) ==============================

#image-content {
	max-height: 800px;
	&.openseadragon.fullpage {
		max-height: 100%;
		& .openseadragon-container button#btn-fullscreen-close {
			display: block;
		}
		& .openseadragon-container button#btn-fullscreen {
			display: none !important;
		}
	}
}

.openseadragon-viewer {
	height: 100%;
	background-color: #333;	
}


.openseadragon-container {

	background-color: #333 !important;
	
	& #image-count {
		visibility: visible;
		opacity: 1;		
		display: inline-block;
		position: relative;
		transition: visibility .75s, opacity .75s, display .75s;
	}
		
	& #image-toolbar {
		visibility:hidden;
		opacity: 0;		
		transition: visibility .75s, opacity .75s;
		
		& #image-toolbar-inner {
	        padding: 5px;
		}			
		& .multi-image-nav {
			margin-left: 100px; 
			margin-right: 20px; 
			display: inline; 
		}
		& .page-indicator {
			color: white;
			display: inline;
			position: relative; 
		}
	}
	
	
	
	& .referencestrip {
		visibility:hidden;
		opacity: 0;	
		transition: visibility .75s, opacity .75s;				
		margin-left: 0 !important;
		max-width: 100px !important;

		& > div[id^="referencestrip"] {
			max-width: 100px !important;
		}

	}	
	

	& .navigator {
		visibility: hidden;	
		opacity: 0;			
		border: 0 !important;
		transition: opacity .75s, visibility .75s;	
	
		& .displayregion {
			border: 2px solid $brand-success !important;
		}
	} 
	
	& .btn {
		color: $gray-light;
		background-color: #000;
		margin-bottom: 3px;	
		
		&:hover {
			color: $gray-lighter;
			background-color: #111;
		}	
	}
	
	& #btn-fullscreen-close {
		z-index: 1200; 
		position: absolute;
		right: 20px;
		top: 5px;
		display: none;
	}
	
	& #seadragon-buttons {
		position: absolute;
		left: 20px;
		top: 20px;
		z-index:1200;
	}
	& textarea {
		display: none; 
	}	
	
}


