<div class="alert alert-danger" role="alert">
  We're sorry! Access to this resource is restricted to Duke University Libraries staff. For assistance, please contact <%= link_to "repository-help@duke.edu", "mailto:repository-help@duke.edu" %>.
<div>

<p>
  Authorized staff may access the resource at <%= link_to staff_url(@document), staff_url(@document) %>.
</p>
