<% content_for :subcontent do %>
  <div class="row" id="aptman">
    <div class="col-md-12">
      <hr/>
      <p class="small text-muted">The preservation of the Duke University Libraries Digital Collections and the Duke Digital Repository programs are supported in part by the <a href="http://library.duke.edu/about/adopt-digital-collection">Lowell and Eileen Aptman Digital Preservation Fund</a>.</p>
    </div>
  </div>
<% end -%>
<%= render template: 'layouts/blacklight' %>
